*.o
*.bin
*.exe
*.dump
.DS_STORE

asm/fasm
sim/fsim

dist/*
!dist/start.bat

# Xilinx ISE
*.gise
*filter
*projectmgr
*.tcl
*.debug
*.edif
vhdl/*.xml
vhdl/*/*/*/*.xml
*.psg
*.wdf
*.wpc
*.ppr
*.jou
*.wcfg
*.lst
*.xmsgs
*.cmd_log
*.lso
*.prj
*.syr
*xst
vhdl/*.html
vhdl/*/*.html
*.wdb
*xrpt
*.log
vhdl/*.cmd
*.xreport
vhdl/*/*/*/*.c
*.didat
vhdl/*/*/*/*.obj
*.vdb
*dbg
vhdl/*/*/*.dll
*.dat
_1
pn_info
*.bgn
*.bit
*.bld
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.ngm
vhdl/*.csv
vhdl/*.txt
*.ini
*.xbcd